In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"A":[12, 4, 5, None, 1], "B":[7, 2, 54, 3, None], 
                   "C":[20, 16, 11, 3, 8], 
                   "D":[14, 3, None, 2, 6]})

index1 = ['Row 1', 'Row 2', 'Row 3', 'Row 4', 'Row 5']

df.index = index1

print(df)

          A     B   C     D
Row 1  12.0   7.0  20  14.0
Row 2   4.0   2.0  16   3.0
Row 3   5.0  54.0  11   NaN
Row 4   NaN   3.0   3   2.0
Row 5   1.0   NaN   8   6.0

In [3]:
result = df.transform(func = ['sqrt','exp'])
result

              A                        B                       C  \
           sqrt            exp      sqrt           exp      sqrt
Row 1  3.464102  162754.791419  2.645751  1.096633e+03  4.472136
Row 2  2.000000      54.598150  1.414214  7.389056e+00  4.000000
Row 3  2.236068     148.413159  7.348469  2.830753e+23  3.316625
Row 4       NaN            NaN  1.732051  2.008554e+01  1.732051
Row 5  1.000000       2.718282       NaN           NaN  2.828427

                            D
                exp      sqrt           exp
Row 1  4.851652e+08  3.741657  1.202604e+06
Row 2  8.886111e+06  1.732051  2.008554e+01
Row 3  5.987414e+04       NaN           NaN
Row 4  2.008554e+01  1.414214  7.389056e+00
Row 5  2.980958e+03  2.449490  4.034288e+02